using System.Collections;
using System.Collections.Generic;
using UnityEngine;

//! 서브 인트로 씬 관리자
public class CSubIntroSceneManager : CIntroSceneManager {
	#region 함수
	//! 초기화
	public override void Awake() {
		base.Awake();

		if(CSceneManager.IsInit) {
			
		}
	}
	#endregion			// 함수
}
