using System.Collections;
using System.Collections.Generic;
using UnityEngine;

#if MSG_PACK_ENABLE
using MessagePack;
#endif			// #if MSG_PACK_ENABLE

#if MSG_PACK_ENABLE
[MessagePackObject]
public struct STCustomTypeWrapper {
	
}
#endif			// #if MSG_PACK_ENABLE
